/* Variables for font-sizes and colors */
:root {
  --primary-color: #ffd965; /* Gold */
  --secondary-color: #6B4E2A; /* Saddle Brown */
  --background-color: #92bab02e; /* Soft Beige */
    --font-size-base: 1.2em;
    --font-size-large: 2.2em;
}

/* Body styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-position: center;
    justify-items: center;
}

/* Heading styles */
h1 {
  text-align: center;
  color: var(--secondary-color);
  font-size: var(--font-size-large);
  margin-top: 15px;
  text-shadow: 2px 2px var(--primary-color);
}

h3 {
  font-size: 1.5em;
  text-align: left;
  color: #744f00;
  margin: 0 auto;
  text-shadow: 2px 2px var(--primary-color);
}

p {
  text-align: center;
}

/* Form container styles */
.form-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px var(--secondary-color);
}

/* Form container styles */
.form-container-word {
    width: 80%;
    height: 0 auto;
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px var(--secondary-color);
}

.form-container-word h2 {
    font-size: 1.5em;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 15px;
    text-shadow: 2px 2px var(--primary-color);
}

/* Form group styles */
.form-group {
    flex-basis: 25%;
    text-align: left;
}

.numbered-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }  
  

/* Input styles */
input[type="text"],
select,
.input-verb {
    width: 100%;
    padding: 2px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--font-size-base);
    height: 38px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}


/* Label styles */
label {
    text-align: center;
    }

/* Radio button styles */
input[type="radio"] + label {
    margin-right: 20px;
    cursor: pointer;
}

/* Submit button styles */
input[type="submit"] {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2em;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Error styles */
.error {
    border: 2px solid red;
}

/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.creator {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  text-align: right;
  font-size: 20px;
}

/* 'Insert verb here' message */
.input-verb::placeholder {
    color: rgb(151, 126, 93);
    font-style: italic;
  }

/* Styles for smaller screens (mobile) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  
    .form-group {
      width: 80%;
      flex-basis: 80%;
    }
  
    .form-group:not(:last-child) {
      margin-right: 5%;
    }
}

  .construction-message {
    background-color: #ff0;
    color: #000;
    padding: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.8em;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
}
.verb-table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
}

.verb-table td {
  padding: 10px;
  cursor: pointer;
}

.verb-table td:hover {
  background-color: #edb85d;
}

/* Styles for the legend wrapper */
.legend-wrapper {
  position: relative;
  display: inline-block;
}

/* Hide the legend container by default */
.keyboard-legend-container {
  display: none;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  text-align: left;
  width: auto;
  white-space: nowrap;
}

/* Show the legend container when hovering over the legend wrapper */
.legend-wrapper:hover .keyboard-legend-container {
  display: block;
}

/* Style the "?" button */
.legend-button {
  cursor: pointer;
}
